/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 0;
}

main {
    padding: 10px;
}

.section {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: #e0e0e0;
}

.section-title {
    background-color: #30382b; /* Example color */
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: -10px; /* Adjust based on design */
    right: 10px;
    transform: translateY(-50%);
    border: 1px solid black;
}

#section1 .section-title {
    background-color: #e37697; /* Color for Chicken */
}

#section2 .section-title {
    background-color: #940a0a; /* Color for Beef */
}

#section3 .section-title {
    background-color: #c1c951; /* Color for Sushi */
}

/* Desktop styles */
@media (min-width: 992px) {
    .section {
        float: left;
        width: 31.33%; /* 100% / 3 - spacing adjustment */
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 40%; /* 100% / 2 - spacing adjustment */
        margin: 10px 1%;
    }
    #section3 {
        width: 98%;
        margin: 10px 1%;
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    .section {
        width: 100%;
        margin: 10px 0;
    }
}
